<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BioNext</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
</head>
<body>
    <header class="d-flex">
        <img src="../static/img/logo.png" alt="logo" class="logo">
        <nav class="cabecalho d-flex">
            <a href="">Recursos Tecnológicos</a>
            <a href="">Professores e Escolas</a>
            <a href="">Benefícios</a>
            <a href="">Jogo</a>
            <button class="contato"><a href="" class="contato">Contato</a></button>
        </nav>
    </header>

    <main>
        <section class="banner">
            <img class="meninaCapa" src="../static/img/meninaCapa.png" alt="menina vestida de cientista">
            <h1>De Darwin ao Digital: a evolução do ensino de Biologia</h1>
            <p>Ensinar Biologia é mais fácil quando a tecnologia dá vida à ciência.</p>
            <a href="" class="jogueAgora">Jogue Agora</a>
             
        </section>

        <section class="recursosTecnologicos">

            <h3>Recursos Tecnológicos</h3>
            <p class="sub">Ferramentas digitais que tornam o aprendizado de Biologia mais visual, interativo e envolvente</p>
            
            <div class="modelo3D">
                <img class="micro" src="../static/img/micro.png">
                <h4>Modelos 3D</h4>
                <p>Visualização 3D de células, organelas e sistemas do corpo humano para melhor compreensão estrutural.</p>
            </div>

            <div>
                <h4>Vídeos e animações</h4>
                <p>Visualização de processos biológicos como mitose, meiose e fotossíntese.</p>
            </div>

            <div>
                <h4>Laboratórios Virtuais</h4>
                <p>Simulações interativas de experimentos para aprendizado seguro e acessível.</p>
            </div>

            <div>
                <h4>Realidade Aumentada</h4>
                <p>Explorações imersivas de ecossistemas e anatomia com realidade virtual e aumentada.</p>
            </div>
        </section>

        <section>
            <h3>Ensino Inovador: o papel dos professores e escolas</h3>

            <div>
                <p>Aulas Inovadoras</p>
                <p>Aprendizado Ativo</p>
                <p>Projetos Colaborativos</p>
                <p>Gamificção</p>
            </div>
        </section>

        <section>
            <p>jogo</p>
        </section>

        <section>
            <h3>Explore o Mundo da Biologia</h3>
            <p>Mergulhe em vídeos e quizzes interativos para aprender de uma forma divertida</p>
            <a href="">Começar a Explorar</a>
        </section>

        <section>
            <div>
                <div>
                    <p>Nome</p>
                    <input type="text" placeholder="Seu nome completo">
                </div>

                <div>
                    <p>E-mail</p>
                    <input type="text" placeholder="seu@email.com">
                </div>

                <div>
                    <p>Mensagem</p>
                    <textarea name="Mensagem" rows="4" cols="50" placeholder="Escreva sua mensagem aqui..."></textarea>
                </div>
            </div>
        </section>

        
    </main>

    <footer>
        <img src="../static/img/logo.png" alt="logo">
        <div>
            <a>Recursos Tecnológicos</a>
            <a>Professores e Escolas</a>
            <a>Benefícios</a>
            <a>Contato</a>
        </div>
        <p>Siga-nos</p>
        <div>
            <img src="../static/img/twitter.png">
            <img src="../static/img/instagram.png">
            <img src="../static/img/tiktok.png">
            <img src="../static/img/telegram.png">            
        </div>
    </footer>
</body>
</html>